.main-block {
	width: 100%;
}
.header-top {
	background: #76c7c1;
    padding: 20px 172px 21px 172px;
    overflow: auto;
}
.tollen-logo {
    background: white;
	padding: 13px 131px 6px 39px;
    color:red;
	float: left;
}
.all-menus {
    float: right;
}
.search-icon {
	padding-top: 17px;
	margin-left: 25px;
	float: right;
	width: 17px;
    height: 16px;
}
.menu-list{
	margin-top: 7px;
	float: right;
	bottom: 0;
}
.search-icon a {
	display: block;
}
.ruler img {
	width: 100%;
}
.header-bottom {
	background: url(../images/header-back.jpg);
	color: #899392;
	height: 95px;
	padding-right: 170px;
	padding-left: 172px;
}
.about-section {
	float: left;
	padding-top: 34px;
	font-weight: bold;
}
.home-or-about {
	float: right;
	padding-top: 34px;
	font-weight: bold;
}
.body-firstx {
    padding: 38px 167px 0px 164px;
    background: #f3f3f3;
}
.img-secxx {
    position: relative;
}

.leftimgxx{
    float: left;
    position: absolute;
    top: 45%;
    left:0px;
    z-index: 1;
}
.theimagexx{
    width: 100%;
}
.rightimgxx {
    float: right;
    position: absolute;
    z-index: 1;
    top: 45%;
    right:0px;
}
.bodyf-textx {
    font-size: 18px;
    color: #aeb8b7;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    left: 44%;
    bottom: 138px;
}
.linesxyx {
    padding-top: 34px;
    text-align: center;
}
.inside-linesxx {
    display: inline-block;
}
.body-secondxx {
    padding: 65px 167px 0px 164px;
    background: #f3f3f3;
    overflow:auto;
}
.second-leftxx {
    float: left;
    width: 74.4662%;
}
.second-right {
    float: right;
    width: 23.5696%;
}

.bodytwo-text {
    font-size: 18px;
    color: #aeb8b7;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    left: 38%;
    bottom: 138px;
}
.bodytwo-text-bottom {
    font-size: 13px;
    color: #aeb8b7;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    left: 30%;
    bottom: 40px;
}
.lines-small {
    padding-top: 14px;
    text-align: center;
}
.imgx {
    margin-top: 28px;
    margin-right:32px;
    float: left;
}
.imgy {
    margin-top: 28px;
    float: left;
}
.body-third {

    padding: 55px 167px 30px 164px;
    background: #f3f3f3;
    overflow:auto;

}


.mem1 {

	height: 340px;
	width: 272px;
	background: #f3f3f3;
    float: left;
    position: relative;
}
.mem2 {
	height: 340px;
	width: 272px;
	background: #f3f3f3;
	margin-left: 29px;
    float: left;
    position: relative;
}
.img-sec {
	width: 272px;
	
    z-index: 1;
}
.hover-img-sec {
	background-image: url(/images/selected-background.jpg);
	height: 315px;
    width: 272px;
    display: none;
    z-index: 99;
}
.mem1:hover .img-sec{
    display:none;  
}
.mem1:hover .hover-img-sec{
    display:block;  
}
.mem2:hover .img-sec{
    display:none;  
}
.mem2:hover .hover-img-sec{
    display:block;  
}

.button-sec {
    padding-left: 37px;
    position: absolute;
    bottom:0px;
}
.image-show {
    display:none;
    z-index: 99;
}
.mem1:hover .image-show{
    display:block;  
}
.mem1:hover .image-hide{
    display:none;  
}
.image-hide {
    display:block;
    z-index: 1;
}
.mem2:hover .image-hide{
    display:none;  
}
.mem2:hover .image-show{
    display:block;  
}

.hover-img-sec ul {
        list-style-type: none;
        padding-left: 28px;
        
}
.hover-img-sec ul li{
    display: inline-block;
    padding-left: 9px;
    padding-top:72px;
    padding-bottom:57px;
}




































.tollen-footer {
	background: #76c7c1;
}
.footimg img {
	width: 100%;
	padding-bottom: 23px;
}
.tfooter-header {
	padding-left: 165px;
	padding-right:172px;
	overflow: auto;
}
.footer-left {
	float: left;
	width: 31.7324%;
}
.some-text {
	padding-top: 59px;
}
.contact-info{
	padding-top: 32px;
	padding-bottom:58px;
	overflow: auto;
}
.contact-left {
	float: left;
}
.contact-right {
	float: left;
	padding-left: 18px;	
}
.footer-right{
	float: right;
	width: 65.9520%;
	padding-top: 7px;
}
.right-inside-left {
	float: left;
	width: 42.3437%;
}
.right-inside-right {
	float: right;
	width: 48.0620%;
}
.in-left-left{
	float: left;
	width: 36.9230%;
}
.in-left-right{
	float: right;
	width: 38.9862%;
}
.item-one {
	padding-top: 25px;
	overflow: auto;
}
.item-image{
	float: left;
}
.item-texts {
	
	padding-left: 89px;
}
.foot-text-down {
	padding-top: 14px;
}
.tfooter-footer {
	background: #6bb4ad;
	padding: 0px 168px 0px 168px;
	overflow: auto;
}
.footer-first-text {
	padding: 21px 0px 18px 0px;
	float: left;
	color: white;
	font-size: 13px;
}
.image-list-footer {
	float:right;
}
.image-list-footer ul {
	list-style: none;
	padding-top: 14px;
}
.image-list-footer ul li {
	width: auto;
	float: left;
	padding-left: 26px;
}
