.menu-list ul{
    list-style: none;
    float: right;
}
.menu-list ul li{
	width: auto;
	float: left;
}
.menu-list ul li a{
    padding: 10px 25px;
    display:block;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.menu-list ul li a:hover{
    background-image: url('../images/selected-back.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.home-or-about ul{
	list-style: none;
    color: #899392;
}
.home-or-about ul li{
	width: auto;
    float: left;
    padding: 0px 15px;
}
.home-or-about ul li a{
    color: #899392;
    font-size: 13px;
    font-weight: bold;
}
.home-or-about ul li+li{
	background: url(../images/separator.png) 0 50%;
	background-repeat:no-repeat;
}
.sidebar-gallery {
    padding-top: 40px;
    padding-left: 8px;
    font-weight: bold;
    color: #7e8887;
}

.block-two-heading h1 {
    color: #829090;
    text-align: center;
}
.paraimage {
    color: white;
    line-height: 13px;
    padding: 38px;
    font-size: 13px;
}





























.some-text p {
    color: white;
    font-size: 13px;
    line-height: 14px;
}
.contact-left p{
    color: white;
    font-size: 13px;
    line-height: 21px;
}
.contact-right p{
    color: white;
    font-size: 16px;
    font-style: italic;
    line-height: 21px;
}
.inside-head {
    color: #447874;
    font-size: 19px;
    font-weight: bold;
}
.in-left-left ul, .in-left-right ul {
    padding-top: 32px;
    padding-left: 24px;
    list-style-image: url('../images/white-arrow.jpg');
}

.in-left-left ul li a, .in-left-right ul li a {
    color: white;
    font-size: 13px;
}

.top-text {
    color: white;
    font-size: 19px;
}

.foot-text-up{
    color: white;
    font-size: 13px;
}
.foot-text-down{
    color: #448780;
    font-size: 13px;
}

