.outer-container {
  width: 100vw;
  background-color: black;
  height: 100vh;
}
.map-container {
  background-image: url(../images/back.jpg);
  width: 650px;
  margin: 0 auto;
  border: 3px solid orange;
  border-radius: 2%;
  position: relative;
  overflow: hidden;
  height: 750px;
}
.path-container {
  width: 650px;
  margin-top: 388px;
  position: relative;
  overflow: hidden;
  height: 356px;
  bottom: 0;
}