body {
	background-color: #f0f0f0;
}


table {
  width: 60%;
  border:2px solid rgb(159, 131, 103);
  background: url('mountain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
   border-collapse: collapse;
}

th, td {
  width: 25%;
  text-align: center;
  border: 1px solid #000;
}