* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.carousel-container {
  width: 500px;
  height: 300px;
  margin: 30px auto;
  position: relative;
  overflow: hidden; 
}
.carousel-image-wrapper {
  position: absolute;
  top: 0px;
}
.carousel-image-wrapper img {
  object-fit: cover;
  float: left;
}
.left-button button {
  width: 40px;
  height: 40px;
  display: none;
  border-radius: 50%;
  left: 5px;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.right-button button {
  width: 40px;
  height: 40px;
  display: none;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0,-50%);
}
.carousel-container:hover .left-button button {
  display: block;
}
.carousel-container:hover .right-button button {
  display: block;
}
.img-indicators {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2px;
}
.circle {
  border-radius: 50%;
  background-color: #bdbdbd;
  height: 16px;
  width: 16px;
  border: none;
  margin-right: 10px;
}
.circle:hover {
  background-color: white;
}
.bigger-circle {
  background-color: white;
  height: 20px;
  width: 20px;
}
