* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.score-sheet h3 {
  padding-left: 40px;
  display: inline-block;
  color: blueviolet;
  line-height: 50px;
}
.score-sheet span {
  margin-left: 5px;
  color: teal;
  font-weight: bold;
  font-size: 19px;
}
.car-lane-game {
  margin: 20px auto;
  width: 500px;
}
.score-sheet {
  border: 1.15px solid orange;
  border-radius: 8px;
  /* background-image: linear-gradient(141deg, #5fb02d 0%, #22ff00 51%, #8ed04a 75%); */
  text-align: center;
  height: 50px;
  width: 100%;
}
.game-container {
  border-radius: 8px;
  position: relative;
  width: 500px;
  height: 600px;
  overflow: hidden;
}
.play-button {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,0);
  border-radius: 50%;
}
.game-text {
  font-size: 42px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,0);
  color: #ff4d00;
  font-weight: bold;
  text-shadow: 2px 1px black;
}