.main-block {
	width: 100%;
}
.header-top {
	background: #76c7c1;
	height: 30px;
	padding: 20px 172px 21px 172px;
}
.tollen-logo {
	height: 30px;
	width: 103px;
	float: left;
}
.all-menus {
	float: right;	
}
.search-icon {
	padding-top: 17px;
	margin-left: 25px;
	float: right;
	width: 17px;
	height: 16px;
}

.menu-list{
	margin-top: 7px;
	float: right;
	bottom: 0;
}

.search-icon a {
	display: block;
}
.ruler img {
	width: 100%;
}

.header-bottom {
	background: url(../images/header-back.jpg);
	color: #899392;
	height: 95px;
	padding-right: 170px;
	padding-left: 172px;
}

.about-section {
	float: left;
	padding-top: 34px;
	font-weight: bold;
}

.home-or-about {
	float: right;
	padding-top: 34px;
	font-weight: bold;
}

.body-block-one {
	background: #f3f3f3;
	padding-left: 164px;
	padding-right: 168px;
	padding-bottom: 74px;
}

.third-section {
	padding-top: 73px;
	overflow: auto;
}

.left-section {
	float: left;
	width: 19.3123%
}

.right-section {
	float:right;
	width: 74.0501%;
}

.inside-left {
	float: left;
	width: 67.5412%;
}
.img-lists {
	float: left;
	margin-right: 25px;
}

.inside-right {
	float: right;
	width: 32.1411%;
}
.list-choosing {
	padding-left: 20px;
	padding-top: 36px;
}
.inside-left-top{
	padding-left: 14px;
	font-size: 14px;
	color: #899392;
	padding-bottom: 60px;
}
.rb-holder {
	position: relative;
}
.top-img-x {
	margin-top: 25px;
}
.rb-holder {
	width: 272px;
}
.inside-right-bottom {
	background: #f8f8f8;
}

.client-name {
	color: #757575;
	position: absolute;
	bottom: 0px;
	left:57px;
	font-weight: bolder;
	font-size: 14px;
}


.block-two-ruler img {
	width: 100%;
}
.body-block-two {
	background: #ececec;
	height: 400px;
}

.block-two-heading {
	padding-top: 72px;
	padding-bottom: 80px;
}
.our-team {
	padding-left: 163px;
	height: 340px;
	
}
.mem1 {

	height: 340px;
	width: 272px;
	background: #f3f3f3;
    float: left;
    position: relative;
}
.mem2 {
	height: 340px;
	width: 272px;
	background: #f3f3f3;
	margin-left: 29px;
    float: left;
    position: relative;
}
.img-sec {
	width: 272px;
	
    z-index: 1;
}
.hover-img-sec {
	background-image: url('images/hover-back.png');
	height: 315px;
    width: 272px;
    display: none;
    z-index: 99;
}
.mem1:hover .img-sec{
    display:none;  
}
.mem1:hover .hover-img-sec{
    display:block;  
}
.mem2:hover .img-sec{
    display:none;  
}
.mem2:hover .hover-img-sec{
    display:block;  
}

.button-sec {
    padding-left: 37px;
    position: absolute;
    bottom:0px;
}
.image-show {
    display:none;
    z-index: 99;
}
.mem1:hover .image-show{
    display:block;  
}
.mem1:hover .image-hide{
    display:none;  
}
.image-hide {
    display:block;
    z-index: 1;
}
.mem2:hover .image-hide{
    display:none;  
}
.mem2:hover .image-show{
    display:block;  
}

.hover-img-sec ul {
        list-style-type: none;
        padding-left: 28px;
        
}
.hover-img-sec ul li{
    display: inline-block;
    padding-left: 9px;
    padding-top:72px;
    padding-bottom:57px;
}

.body-block-three{
	background: #f3f3f3;
	padding-left: 172px;
	padding-right:172px;
	color: #757575;
	
}

.block-three-header {
	padding-top: 219px;
	padding-bottom: 25px;
}

.img-dotline {
	padding-right: 17px;
	margin-top:2px;
	max-width: 888px;
}
.img-points{
	padding-right: 20px;
}





.tollen-footer {
	background: #76c7c1;
}
.footimg img {
	width: 100%;
	padding-bottom: 23px;
}
.tfooter-header {
	padding-left: 165px;
	padding-right:172px;
	overflow: auto;
}
.footer-left {
	float: left;
	width: 31.7324%;
}
.some-text {
	padding-top: 59px;
}
.contact-info{
	padding-top: 32px;
	padding-bottom:58px;
	overflow: auto;
}
.contact-left {
	float: left;
}
.contact-right {
	float: left;
	padding-left: 18px;	
}
.footer-right{
	float: right;
	width: 65.9520%;
	padding-top: 7px;
}
.right-inside-left {
	float: left;
	width: 42.3437%;
}
.right-inside-right {
	float: right;
	width: 48.0620%;
}
.in-left-left{
	float: left;
	width: 36.9230%;
}
.in-left-right{
	float: right;
	width: 38.9862%;
}
.item-one {
	padding-top: 25px;
	overflow: auto;
}
.item-image{
	float: left;
}
.item-texts {
	
	padding-left: 89px;
}
.foot-text-down {
	padding-top: 14px;
}
.tfooter-footer {
	background: #6bb4ad;
	padding: 0px 168px 0px 168px;
	overflow: auto;
}
.footer-first-text {
	padding: 21px 0px 18px 0px;
	float: left;
	color: white;
	font-size: 13px;
}
.image-list-footer {
	float:right;
}
.image-list-footer ul {
	list-style: none;
	padding-top: 14px;
}
.image-list-footer ul li {
	width: auto;
	float: left;
	padding-left: 26px;
}
