.top-main {
    min-width: 1140px;
    background-color: #efefef;
}
.main-header {
    padding: 65px 68px 0px 52px;
}
@media only screen and (max-width: 1140px){
    .main-header {
        padding: 65px 0px 0px 0px;
    }
}
.youniverse-logo {
    float: left;
}
.top-items {
    float: right;
}
.top-items ul li a {
    display: inline-block;
}
.logo-img {
    display: block;
    margin-top:6px;
    margin-left:136px;
}
.top-ad {
    padding-top: 88px;
    padding-bottom: 232px; 
}
.items-padding {
    padding-bottom: 17px;
}
.ad-box {
    border: 8px solid #fac012;
    width: 712px;
    margin: 0 auto;
    padding: 60px 45px 272px 51px;
    position: relative;
}
.ad-box-left {
    margin-top: 14px;
    width: fit-content;
    float: left;
}
.ad-box-right {
    width: fit-content;
    float: right;
}
.line-container {
    margin: 0 auto;
    width: 708px;
    padding-top:21px;
}
.manual-line {
    background-color: #23180c;
    height:2px;
}
.ad-products {
    margin-top:34px;
}
.ad-productone{
    float: left;
}
.ad-producttwo{
    margin-left: 51px;
    float: left;
}
.ad-productlast{
    float:right;
}
.prod-img-left {
    float: left;
    width: 49px;
}
.descriptions-right {
    float: left;
    margin-left: 12px;
}
.left-img {
    position: absolute;
    left: 0px;
    top:50%;
}
.nav-bar{
    background-color: black;
    min-width: 1140px;
}
.nav-menu-items {
    width: 1140px;
    margin: 0 auto;
}
.body-first {
    min-width: 1140px;
}
.featured-items{
    padding-top: 85px;
    margin: 0 auto;
    width: 1140px;
}
.featured-items ul {
    height: 190px;
}
.bodyf-slider{
    width: 1140px;
    padding-top: 112px;
    margin: 0 auto;
}
.bodyf-some-text {
    padding-top: 119px;
    padding-bottom: 23px;
}
.very-small-line {
    width: 66px;
    margin: 0 auto;
}
.align-center {
    margin: 0 auto;
}
.featured-furnitures {
    width: 1140px;
    padding-top: 60px;
    padding-bottom: 100px;
}
.ff-items {
    float: left;
    margin-left: 10px;
    width: 267px;
    height: 395px;
    background-color: white;
    border: 1px solid #ededed;
    
}
.promo {
    height: 26px;
    width: 58px;
    background-color: black;
    margin: 14px 0 0 15px;
}
.no-promo{
    color: white;
    height: 26px;
    width: 58px;
    background-color: white;
    margin: 14px 0 0 15px;
}
.new-item {
    height: 26px;
    width: 58px;
    background-color: #fac012;
    margin: 14px 0 0 15px;
}
.collection-from {
    margin: 163px 26px 0px 26px;
}
.item-desc {
    margin: 24px 26px 0px 26px;
}
.item-price {
    margin-top: 19px;
}
.add-to-cart {
    margin-top: 28px;
    background-color: #fac012;
}
.imgalign {
    padding-right: 11px;
}
.body-second{
    background-color: black;
    min-width: 1140px;
    padding: 120px 0px 0px 0px;
}
.bodys-form-container{
    width: 1140px;
    margin: 0 auto;
}
.bodys-left-container {
    width: 50%;
    float: left;
}
.bodys-right-container {
    width: 50%;
    float: right;
}
.bodys-top-text {
    margin-bottom: 24px;
}
.bodys-desc {
    margin-top: 42px;
}
.body-third{
    width: 1140px;
    margin: 0 auto;
}
.bodyt-some-text {  
    padding-top: 100px;
    padding-bottom: 23px;
}
.latest-posts-list {
    margin-top: 48px;
}
.post-list-items {
    margin-right: 10px;
    float: left;
    width: 364px;
    padding-bottom:96px;
}
.img-holder{
    width: 364px;
    height: 193px;
    background-image: url(../images/unselected-postlist.png);
}
.img-holder:hover {
    background-image: url(../images/selected-postlist.jpg);
}
.posts-texts {
    margin-top: 19px; 
}
.left-calender {
    float: left;
    border: 1px solid #dedede;
    height: 46px;
    width: 59px;
    padding-top: 13px;
}
.left-calender span {
    display: block;
    font-size: 13px;
}
.othertexts {
    float: left;
    margin-left: 20px;
    padding-top: 6px;
    width: 280px;
}
.cal-desc {
    padding-top: 12px;
}
.cal-footer {
    margin-top:20px;
}
.body-fourth {
    background-image: url(../images/back-blacknwhite.jpg);
    min-width: 1140px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bodyfour-contents {
    width: 1140px;
    margin: 0 auto;
}
.bodyfour-left {
    float:left;
    width: 50%;
}
.bodyfour-right {
    float: right;
    width: 50%;
    padding-top: 89px;
}
.bodyfour-input {
    margin-top: 29px;
}
.bodyfour-input input {
    padding: 16px 12px 12px 14px;
    margin-right: 16px;
    box-sizing: border-box;
    border: 1.5px solid white;
    background-color: #323232;
}
.body-fifth {
    width: 1140px;
    margin: 0 auto;
}
.fifth-tabs {
    margin: 0 auto;
    padding-top: 40px;
    width: auto;  
    margin-bottom: 66px;
}
.coll-items-list {
    float: left;
    width: 364px;
    margin-right:16px;
}
.coll-items-list a {
    display: block;
    color: #f6f6f6;
    background-color: #f6f6f6;
}
.second-coll-items {
    margin-top: 18px;
}
.body-sixth {
    min-width: 1140px;
    margin-top: 100px;
    padding-bottom: 82px;
    background-color: #f7f7f7;  
}
.body-contact-info {
    width: 1140px;
    margin: 0 auto;
    
}

.ci-left {
    width: 170px;
    padding: 108px 97px 0px 97px;
    float:left;
}
.ci-right {
    width: 619px;
    padding: 104px 97px 0px 36px; 
    float: right;
}
.main-footer {
    min-width: 1140px;
    background-color: #1c1105;
}
.footer-container {
    width: 1140px;
    margin: 0 auto;
    padding: 87px 0px 52px 0px;
}
.footer-left {
    width: 267px;
    float:left;
}
.footer-second-left {
    width: 308px;
    padding-left:69px;
    float:left;
}
.footer-third-left {
    width: 302px;
    float:left;
}
.footer-right {
    width: 194px;
    float:left;
}
.social-medias {
    margin-top: 86px;
}
.social-media-items {
    margin-bottom: 22px;
}
.sm-item1 {
    float:left;
    width: 160px;
}
.sm-item2 {
    float:left;
    width: 105px;
}
.footer-icon {
    float: left;
    width: 26px;
}
.footer-texts {
    float: left;
    margin-left: 11px;
}
.product-lists {
    padding-top: 30px;
}
.footer-product-one {
    margin-bottom: 33px;
    background-image: url(../images/footer-noimage.jpg);
    background-repeat: no-repeat;
}
.footer-product-one a {
    padding-left: 100px;
    display: block;
}
.footer-product-one a ul{
    margin-top: 8px;
}
.footer-product-one:hover {
    background-image: url(../images/footer-hoveredimg.jpg);
}
.instagrammed-links {
    margin-top: 42px;
}
.insta-left {
    float: left;
    width: auto;
}
.insta-right {
    float: right;
    width: auto;
}
.insta-left ul li, .insta-right ul li {
    margin-top: 8px;
}

.move-to-top {

}
.ending-text {
    padding-bottom:31px;
}